body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #fff;
    border-bottom: 2px solid #007bff;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-height: 50px;
    width: auto;
}

.nav-link {
    color: #007bff !important;
}

.nav-link:hover {
    color: #0056b3 !important;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 15px 15px 0 0;
    font-weight: bold;
}

.list-group-item {
    border-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 16px;
}

.list-group-item strong {
    color: #007bff;
    font-weight: bold;
}

.list-group-item:nth-child(even) {
    background-color: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel {
    font-size: 13px;
    color: #454545;
    background: #fafafa;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', 'Oxygen', sans-serif;
}

.bg2 {
    background-image: url('https://estbm.ac.ma/web/img/slider1.jpg');
    background-size: cover;
    background-position: center;
}

.profile-widget {
    position: relative;
}

.profile-widget .image-container {
    padding: 190px 0 10px;
}

.profile-widget .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto -60px;
    display: block;
}

.profile-widget .details {
    padding: 50px 15px 15px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
